
<div class="column is-half is-offset-one-quarter">
    <h1>Editing Content</h1>
</div>


<%= render 'form', content: @content %>
<div class="column is-half is-offset-one-quarter">
<%= link_to 'Show', @content %> |
<%= link_to 'Back', contents_path %>
</div>
